[init]
  defaultBranch = master

[user]
  name = haakonleg
  email = dev@haakon.me

[push]
  default = current

[fetch]
  prune = true

[color]
  ui = auto

[core]
  editor = micro
  pager = delta
  excludesfile = ~/.gitignore # use custom gitignore
  autocrlf = input

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
  line-numbers = true
  line-numbers-left-style = lightgray
  line-numbers-right-style = lightgray
  line-numbers-minus-style = dim red
  line-numbers-plus-style = dim green
  line-numbers-zero-style = dimgray
  plus-style = bold green
  plus-emph-style = bold lightgray darkgreen
  plus-non-emph-style = green
  minus-style = bold red
  minus-emph-style = bold lightgray darkred
  minus-non-emph-style = red
  zero-style = syntax
  file-style = omit
  hunk-header-decoration-style = ol
  hunk-header-style = file syntax
  hunk-header-file-style = bold deepskyblue
  syntax-theme = none

[add.interactive]
  useBuiltin = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[branch]
  sort = -committerdate

[alias]
  lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  tags = tag -l
  branches = branch -a
  aliases = config --get-regexp alias
  remotes = remote -v
  ireb = "!r() { git rebase -i HEAD~$1; }; r"
  reword = commit --amend
  uncommit = reset --soft HEAD~1
  untrack = rm --cache --
  hreset = reset --hard @{u}
  trackorigin = "!git branch --set-upstream-to origin/`git rev-parse --abbrev-ref HEAD`"
