[Unit]
Description=Btrfs scrub on %f
ConditionPathIsMountPoint=%f
RequiresMountsFor=%f

[Service]
Type=oneshot
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
ExecStart=btrfs scrub start -B %f
