########################
# exports
########################
[[ -f ~/.exports ]] && source ~/.exports

########################
# shell options
########################
HISTFILE=~/.zsh_history
HISTSIZE=100000
SAVEHIST=100000
setopt \
  INC_APPEND_HISTORY_TIME EXTENDED_HISTORY HIST_REDUCE_BLANKS HIST_IGNORE_SPACE NO_BANG_HIST HIST_IGNORE_DUPS HIST_FIND_NO_DUPS \
  NO_CASE_GLOB \
  NO_BEEP \
  NO_FLOW_CONTROL \
  NO_BG_NICE

# completion
autoload -Uz compinit && compinit
zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}' # case insensitive completion
setopt MENU_COMPLETE

########################
# window title
########################
autoload -Uz add-zsh-hook
function xterm_title_precmd () {
  print -Pn -- '\e]2;%n@%m %~\a'
  [[ "$TERM" == 'screen'* ]] && print -Pn -- '\e_\005{g}%n\005{-}@\005{m}%m\005{-} \005{B}%~\005{-}\e\\'
}

function xterm_title_preexec () {
  print -Pn -- '\e]2;%n@%m %~ %# ' && print -n -- "${(q)1}\a"
  [[ "$TERM" == 'screen'* ]] && { print -Pn -- '\e_\005{g}%n\005{-}@\005{m}%m\005{-} \005{B}%~\005{-} %# ' && print -n -- "${(q)1}\e\\"; }
}

if [[ "$TERM" == (Eterm*|alacritty*|aterm*|gnome*|konsole*|kterm*|putty*|rxvt*|screen*|tmux*|xterm*) ]]; then
  add-zsh-hook -Uz precmd xterm_title_precmd
  add-zsh-hook -Uz preexec xterm_title_preexec
fi

########################
# plugin options
########################
ZSH_AUTOSUGGEST_MANUAL_REBIND=1
HISTORY_SUBSTRING_SEARCH_PREFIXED=1

########################
# plugins
########################
{% for plugin in zsh_plugins %}
{% if plugin.git is defined  %}
source {{ zsh_plugin_dir }}/{{ plugin.name }}/{{ plugin.path|default(plugin.name + ".zsh") }}
{% else %}
source {{ zsh_plugin_dir }}/{{ plugin.name }}.zsh
{% endif %}
{% endfor %}

########################
# keybinds
########################
go-home() { zle push-input; BUFFER="cd"; zle accept-line  }
zle -N go-home

quit() { exit }
zle -N quit

bindkey '^[[H' go-home                       # home
bindkey '^[[A' history-substring-search-up   # arrow up
bindkey '^[[B' history-substring-search-down # arrow down
bindkey '^H' backward-kill-word              # ctrl+backspace
bindkey '^[[1;5D' backward-word              # ctrl+left
bindkey '^[[1;5C' forward-word               # ctrl+right
bindkey '^[[3~' delete-char                  # del
bindkey '^Q' quit                            # ctrl+q

########################
# aliases
########################
[[ -f ~/.aliases ]] && source ~/.aliases

# auto start tmux if TMUX is set
if [[ ! -z "$TMUX_AUTOSTART" ]]; then
  unset TMUX_AUTOSTART
  tmux
fi

eval "$(starship init zsh)"
