- name: Configure keybinds
  ansible.builtin.import_tasks: keybinds.yml

- name: Configure misc tweaks
  ansible.builtin.import_tasks: tweaks.yml

- name: Install extensions
  ansible.builtin.import_tasks: extensions.yml

- name: Configure fonts
  ansible.builtin.import_tasks: fonts.yml

- name: Install gtk theme
  ansible.builtin.import_tasks: gtk_theme.yml
  when: settings.gnome.gtk_theme is defined
