versions:
  starship: '1.15.0'
  fzf: '0.42.0'
  nerdfonts: '3.0.2'
  syncthingtray: '1.4.4'
  adw_gtk3: &adw_gtk3_version v4.8
  vitals: &vitals_version v61.0.0

default_settings:
  packages:
    # essentials
    - curl
    - git
    - nano
    - micro
    - tmux
    - btop
    - lm_sensors

    # shell/cli utilities
    - zsh
    - bat
    - fd-find
    - ripgrep
    - git-delta
    - tldr

    # media
    - mpv
    - celluloid
    - foliate

    # mail
    - evolution

    # misc
    - file-roller
    - meld

  remove_packages: []

  flatpaks:
    - com.jetbrains.IntelliJ-IDEA-Community
    - com.spotify.Client
    - com.bitwarden.desktop
    - md.obsidian.Obsidian
    - org.gtk.Gtk3theme.adw-gtk3
    - org.gtk.Gtk3theme.adw-gtk3-dark
    - com.github.tchx84.Flatseal
    - org.chromium.Chromium

  appimages: []

  fonts:
    # list of fonts to install from https://www.nerdfonts.com/
    nerd_fonts: [Noto, Meslo, JetBrainsMono]
    # list of fonts to install from dnf
    packages: [rsms-inter-fonts]

  zsh_plugins:
    - { name: fzf-tab, git: https://github.com/Aloxaf/fzf-tab }
    - { name: zsh-autosuggestions, git: https://github.com/zsh-users/zsh-autosuggestions }
    - { name: zsh-syntax-highlighting, git: https://github.com/zsh-users/zsh-syntax-highlighting }
    - { name: zsh-history-substring-search, git: https://github.com/zsh-users/zsh-history-substring-search }
    - { name: colored-man-pages, url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/colored-man-pages/colored-man-pages.plugin.zsh }
    - { name: extract, url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/extract/extract.plugin.zsh }
    - { name: safe-paste, url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/safe-paste/safe-paste.plugin.zsh }
    - { name: fancy-ctrl-z, url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/fancy-ctrl-z/fancy-ctrl-z.plugin.zsh }

  kernel:
    params:
      - quiet
      - splash
      - sysrq_always_enabled=1
      - nowatchdog

    sysctls:
      vm.swappiness: 1
      kernel.sysrq: 1

  gnome:
    gtk_theme: { name: adw-gtk3, github: lassekongo83/adw-gtk3, version: *adw_gtk3_version }
    icon_theme: { name: Papirus, pkg: papirus-icon-theme }

    default_font: Inter 11
    document_font: Inter 11
    monospace_font: MesloLGS NF 12
    titlebar_font: Inter Bold 11

    extensions:
      - { id: launch-new-instance@gnome-shell-extensions.gcampax.github.com, pkg: gnome-shell-extension-launch-new-instance }
      - { id: workspace-indicator@gnome-shell-extensions.gcampax.github.com, pkg: gnome-shell-extension-workspace-indicator }
      - { id: appindicatorsupport@rgcjonas.gmail.com, pkg: gnome-shell-extension-appindicator }
      - { id: dash-to-dock@micxgx.gmail.com, pkg: gnome-shell-extension-dash-to-dock }
      - { id: just-perfection-desktop@just-perfection, pkg: gnome-shell-extension-just-perfection }
      - { id: openweather-extension@jenslody.de, pkg: gnome-shell-extension-openweather }
      - { id: Vitals@CoreCoding.com, git: https://github.com/corecoding/Vitals.git, version: *vitals_version }

    # xkb_options: []

# merged with settings
extra_settings: {}
